@import '~antd/dist/antd.css';
@import "./App.css";
@import "./styles/HomePage.css";
@import "./styles/RegisterPage.css";
@import "./styles/LoginPage.css";
@import "./styles/Header.css";
@import "./styles/Main.css";
@import "./styles/Footer.css";
@import "./styles/LoginForm.css";
@import "./styles/History.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

